<link rel="stylesheet" href="/CSS/footer.css">


<footer class="py-3" id="foot" >
    <div class="row" id="foot1">
      <div class="col-2">
     
        <h5 class="foot-text">SHOP</h5>
        <ul class="nav flex-column">
          <li id="ftxt" class="nav-item mb-2"><a href="/cart" class="nav-link p-0 text-muted">Cart</a></li>
          <li class="nav-item mb-2"><a href="/orders" class="nav-link p-0 text-muted">All Orders</a></li>
          <li class="nav-item mb-2"><a href="/user/products" class="nav-link p-0 text-muted">User View</a></li>
        
        </ul>
      </div>

      <div class="col-2">
        <h5 class="foot-text">HELP</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Warranty & Support</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQ'S</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Service Centers</a></li>
          
        </ul>
      </div>

      <div class="col-2">
        <h5 class="foot-text">COMPANY</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About Us</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">News</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Privacy Policy</a></li>
         
        </ul>
      </div>

      <div class="col-4 offset-0">
        <form>
          <h5 class="foot-text">Subscribe to email alerts</h5>
          <p class="foot-text">We promise not to spam your inbox.</p>
          <div class="d-flex gap=0 ">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input  type="text" class="form-control" placeholder="Email address">
            <button  type="button" id="footbtn">Subscribe</button>
          </div>
          
        </form>
      </div>
    </div>

    <div class="d-flex justify-content-between py-4 my-4 border-top" id="foot3" >
        <p class="foot-text">© 2022 Company, Inc. All rights reserved.</p>
        <ul class="list-unstyled d-flex" id="foot2">

          <li class="logo3">
            <a href="#"><i id="logo" class="fa  fa-twitter" aria-hidden="true"></i></a>
          </li>
          
          <li>
            <a href="#"><i id="logo1" class="fa  fa-instagram"   aria-hidden="true"></i></a>
          </li>

          <li>
            <a href="#"><i id="logo2" class="fa  fa-facebook" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>

    
  </footer>

</body>
</html>